{% extends ":pdf:base.html.twig" %}

{% block title %}
    Facture {{ invoice.title }}
{% endblock %}

{% block pdf_body %}
    <div id="pdf_body">
        {{ include(':invoice:show_body.html.twig') }}
    </div>
{% endblock %}
